<% provide(:title, "Invalid Credentials") %>
<h1>Log in Failed</h1>

<h2>Your username or password did not match our records.</h2>
<h2>Perhaps you'd like to <%= link_to "register your online account.", register_path %></h2>

