<% provide(:title, "Invalid Credentials") %>
<div class="LoginMessage">
  <h1>Log in Failed</h1>

  <h3>Your username or password did not match our records.</h3>
  <h3>Perhaps you'd like to <%= link_to "register your online account.", register_path %></h3>
</div>
