// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.CompanyName {
	position: relative;
	top: 15vh;
	left: 30vw;
	width: 40vw;
	border-width: 2px;
	border-style: double;
	background-color: #111133;
	color: #ffffff;
	text-align: center;
}

.LoginPanel {
	position: relative;
	top: 20vh;
	left: 30vw;
	width: 30vw;
	padding: 5vw;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	background-color: #5478b3;
	text-align: center;
}

.LoginMessage {
	position: relative;
	top: 20vh;
	left: 30vw;
	width: 30vw;
	padding: 5vw;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	background-color: #5478b3;
	text-align: center;
}
